# Python
**/__pycache__/
**/*.py[cod]
**/*.so
**/*.egg
**/*.egg-info/
**/dist/
**/build/
**/*.log

# Anaconda environments
**/*.conda
**/*.ipynb_checkpoints

# Jupyter Notebook / Jupyter Lab
**/.ipynb_checkpoints/
**/*.ipynb_checkpoints/

# Windows system files
**/Thumbs.db
**/Desktop.ini
**/$RECYCLE.BIN/

# SQL and DBeaver related
**/*.sql
**/*.sqlite
**/*.db

# Tableau
**/*.twb
**/*.twbx
**/*.tde
**/*.hyper

# Data files
**/*.csv
**/*.tsv
**/*.json
**/*.xls
**/*.xlsx
**/*.xlsm
**/*.xml

# PowerPoint files
**/*.ppt
**/*.pptx

# Ignore environment files or keys
**/*.env
**/*.key

# Miscellaneous backup and temporary files
**/*.bak
**/*.tmp
**/*.swp

# Git-specific
.git/

**/*.txt
